*{
    padding: 0;
    margin: 0;
    }
    body,p,h1,h2,h3,h4,h5,h6,span{
    font-family: 'Roboto', sans-serif;
    }
    .header-area{
    background: url(./img/body.png);
    line-height: 3em;
    border-bottom: 1px solid #000;
    position: sticky;
    width: 100%;
    top: 0;
   
    }
    
    .left-big img{
    width: 120px;
    }
    .left-small{
    margin-right: 300px;
    display: inline-block;
    }
    .left-small span{
    font-size: 14px;
    
    }
    .right-logo{
    text-align: right;    
    display: inline-block;
    margin-left: 350px;
    position: relative;
    
    }
    .right-logo::before{
    content: "Parchase this item";
    top:0;
    left:25px;
    position: absolute;
    color: #fff;
    font-size: 14px;
    }
  
     /* mid-header  */

     .mid-header{
      background: #2B0D0F;
      color: #fff;
      
     }
     .mid-left{
      margin-top: 20px;
       

     }
     .mid-left p{
      font-size: 15px;   
     }
     .mid-left ul{}
     .mid-left ul li{
      display: inline-block;
      }
     .mid-left ul li a i{
      width: 29px;
      height: 29px;
      color: #fff;
      font-size: 14px;
      border: 2px solid #fff;
      border-radius: 50%;
      text-align: center;
      line-height: 1.7em;
      margin-right: 5px;
      }
      .menu{
       margin-left: -80px;
       display: inline-block;
       text-align: left;
      
    
      }
     .mid-right{
      margin-top: 12px;    
      }
     .mid-right .phone{
      height: 20px;
      width: 20px;
      color: #2B0D0F;
      background: #fff;
      font-size: 10px;
      display: inline-block;
      text-align: center;
      border-radius: 5px;
      line-height: 1.8em;
      margin-top: 12px;
      margin-left: 150px;
     }
     .mid-right h5{
      font-size: 16px;
      font-weight: 300;
      line-height: 2.9em;
      margin-left: 110px;
     }
     .mid-right .search{
      font-size: 23px;
      line-height: 2em;
      }
        /* top-menu */
      
        .top-menu{
            background: rgba(0, 0, 0, 0.144);
            padding: 20px 0;
           position: absolute;
           top: 116px;
           left: 0px;
           width: 100%;
           z-index: 999999;
           
          } 
         .mid-logo{
          margin-top: 10px; 
         }
         .mid-logo img{}
         .mid-menu{
          text-align: right;
         margin-top: 30px;
        }
         .mid-menu ul{
           margin-top: -10px;
         }
         .mid-menu ul li{
           display: inline-block;
          
          
          }
         .mid-menu ul li a{
          padding: 0 20px;
          font-size: 16px;
          text-decoration: none;
          color: #fff;
         
         }
         /*hover*/
         .mid-menu ul li a.active,
         .mid-menu ul li:hover > a{
           color: #c09434;
          }
          .mid-menu ul ul li:hover > a{
            background: #282828;
            color: #c09434;
           }
           .mid-menu ul li:hover > ul {
             opacity: 1;
             visibility: visible;
             transform: translateY(1);
           }
            /*drop*/
          .mid-menu ul li{
            position: relative;

          }
          .mid-menu ul li ul {
            position: absolute;
            top: 100%;
            left: -8px;
            width: 200px;
            padding-top: 35px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(0);
        }
        
          .mid-menu ul li ul li{
            display: block;
            background: #fff;
            
           

          }
          .mid-menu ul li ul li a{
            display: block;
            color: #000;
            text-align: left;
            padding: 10px 0;
          }

          
          
            /* banner-section */

     .banner-section{
      background: url(img/slider1.jpg) center;
      padding: 180px 0;
       color: #fff;
       position: relative;
      } 

      .banner-section{}
      .banner-section h1{
        font-size: 100px;
        margin-bottom: 30px;
        margin-top: 50px;
      }
      .banner-section h3{
        font-size: 40px;
        font-weight: 300;
        margin-bottom: 60px;
        position: relative;
      }
      .banner-section h3::before{
       content: "";
       width: 70px;
       height: 1px;
       background: #fff;
       display: inline-block;
       position: absolute;
       top: 22px;
       left:220px
      }
      
      .banner-section h3::after{
        content: "";
        width: 70px;
        height: 1px;
        background: #fff;
        display: inline-block;
        position: absolute;
        top: 22px;
        right: 221px
       }
      
      .banner-section a{
       background: #a38647;
        color: #fff;
        padding: 19px 40px;
        text-decoration: none;
        border-radius: 50px;
        margin-bottom: 50px;
      }
       .banner-section a:hover{
         background: #fff;
         color: #a38647;
         }


         /* about-section */
         .about-section{
           padding: 100px 0;
           background: #f8f8f8;
         
         


         }
         .about-items{
           background: #fff;
           width: 23%;
           margin-right: 2%;
           padding: 30px 0;
         }
         .about-items:nth-child(4){
          margin-right: 0px;

         }
         
         .about-items h3{
          font-size: 20px;
          margin-bottom: 30px;

         }
         .about-items p{
          color: rgb(107, 96, 96);
          margin-bottom: 30px;

         }
         .about-items a{
           display: inline-block;
           text-decoration: none;
           font-size: 16px;
           padding: 10px 25px;
           background: #977a3a;
           color: #fff;
           border-radius: 5px;
           transition: .4s;
          }

          .about-items a:hover{
            background: #000;

          }
           .im-div img{
             width: 90px;
             display: inline-block;
           }
          /*  cottage-area*/

          .cottage-area{
           padding: 70px;
           z-index: 999;
        
          }
          
          .cottage-cont{}
          
          .cottage-cont h5{
           font-size: 27px;
           font-weight: 300;
           margin-bottom: 20px;
          

          }
          .cottage-cont h1{
            font-weight: 600;
            font-size: 50px;
            margin-bottom: 30px;
          }
          .cottage-cont p{
            color: rgb(90, 86, 86);
            font-size: 15px;
            line-height: 1.8em;

          }
          .cottage-cont a{
            padding: 15px 30px;
            background: #000;
            color: #fff;
            transition: .4s;
            margin-top: 30px;
            display: inline-block;
            text-decoration: none;

          }
          .cottage-cont a:hover{
           background: #977a3a;

          }
          .cottage-im{
           margin-left: 40px;

          }

          /*  wood-work*/

          .wood-work{
           background: #f8f8f8;
           padding: 140px 0px;
           
           margin-left: 60px;
           margin-top: -150px; 
           display: inline-block;
           z-index: -1;
           overflow: hidden;
          }
          .wood-write{
           margin-top: 30px;

          }
        
           
      
          .wood-write h3{
           margin-bottom: 30px;
           font-size: 50px;

          }
          .wood-write p{
           margin-bottom: 30px;
           color: rgb(80, 73, 73);

          }
          .wood-write a{
           padding: 15px 30px;
           background: #000;
           color: #fff;
           text-decoration: none;
           margin-top: 30px;
           display: inline-block;
          

          }
          .wood-write a:hover{
           background: #c09434;

          }
          .wood-write span{
           color: #a38647;

          }
         
          /* house */
           .house{
            /* position: relative; */
            padding: 50px 0px;
            overflow: hidden;
            /* top:560px;
            left: 0px; */
           
            
            background-image: url(img/section4-bg.jpg);
           
            
          
          }
          .house-h h3{
           font-size: 40px;
           color: #fff;
           text-align: center;
           margin-bottom: 50px;

          }

          .house-items{
          background: rgba(0, 0, 0, 0.5);
          color: #fff;
          width: 31%;
          text-align: center;
          margin-right:2% ;
          padding: 50px 0;
          border-radius: 5px;
          

          }
          .house-items:nth-child(3){
            margin-right: none;
          }
          
          .house-items h4{
            margin-top: 30px;
            margin-bottom: 20px;
            
          }
          .house-items h6{
            color: #c09434;
            font-size: 20px;

          }
          .house .order a{
            padding: 15px 30px;
            display: inline-block;
            text-decoration: none;
            background: #a38647;
            color: #fff;
            border-radius: 50px;
            text-align: center;
            margin-top: 50px;
            margin-left: 530px;
            
          }
          .order a:hover{
            background: #fff;
            color: #000;
          }

          
          
          /*  our-area */
           .our-area{
            /* position: relative; */
            /* top: 650px;
            left: 0; */
            text-align: center;
            padding: 50px 0;
          }
          .our-head h3{
            text-align: center;
            margin-bottom: 40px;
            font-size: 40px;

          }

          .image-div{
          width: 350px;
          height: 240px;
          position: relative;
          overflow: hidden;
          margin-bottom: 30px;
        }
          .image-div img{
          width: 100%;
          height: 100%;
         }

      .hover-div{
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(198,148,48,.7);
      top: 0;
      left: 0;
      transition: .4s;
      visibility: hidden;
      opacity: 0;

      }
      .image-div:hover .hover-div{
        visibility: visible;
        opacity: 1;
      }
      
      
      
      
        .hover-div h6{
      display: inline-block;
      position: absolute;
      top:110px;
      left: 140px;
      color: #fff;
      font-size: 20px;
      } 

      /* latest-news */
      .latest-news{
        padding: 40px 0;

      }
      .latest-head{
       margin: 40px 0;

      }
      .latest-head h3{
        font-size: 40px;
        text-align: center;

      }

      .latest-pic img{
        width: 350px;
        height: 250px;
        overflow: hidden;
        border: 10px solid #f8f8f8;
        box-shadow: 0 0 5px #ccc;
      }

      .latest-content h3{
       margin: 30px 0;
       color: #242222;
       font-size: 25px;
       position: relative;
       margin-left: 20px;
      }
      .latest-content h3::before{
       content: "";
       width: 4px;
       height: 40px;
       background: #a38647;
       display: inline;
       position: absolute;
       top: 0;
       left: -16px;
      
      }
      .latest-content h5{
       margin: 30px 0;
       color: #696363;
       font-size: 14px;
      }
      .latest-content p{
      
       color: #696363;
       font-size: 15px;
       line-height: 1.8em;
      }

      /* need-section */
      .need-section{
       background-image: url(img/section6-bg.jpg);
       background-attachment: fixed;
       color: #fff;
       padding: 46px 0;
    
      }

     
       .need-left h5{
        margin-bottom: 20px;
        font-size: 25px;
        font-weight: 300;
       }
       .need-left h1{
         font-size: 50px;
       }
       
       .need-right{
         margin-top: 25px;
       }
       .need-right img{}
       .need-right h3{
        font-size: 40px;

       }
       .need-right a{
        padding: 20px 25px;
        text-decoration: none;
        color: #000;
        font-size: 16px;
        border-radius: 50px;
        text-transform: uppercase;
        background: #fff;
        margin-top: 0px;
        display: inline-block;

       }
       /* quick-section */
       .quick-section{
        padding: 180px 0;
        background-image: url(img/section7-bg-1.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
       }

       .contact{
        border: none;
        box-shadow: 0 0 6px#9c9797;
        padding-left: 20px;
       }

       .quick-content{}
       .quick-content h2{
         font-size: 40px;
       }
       .quick-content p{
         color: #696363;
       }
       .quick-content a{
         padding: 15px 30px;
        margin-top: 20px;
         background: #C69453;
         color: #fff;
         text-decoration: none;

       }

       /* link-section */
       .link-section{
        background-image: url(img/section4-bg.jpg);
        padding-top: 70px;
        padding-bottom: 170px;
       }
       .link1{}
       .link1 h3{
         font-size: 25px;
         color: #fff;
         font-weight: 300;
         margin-bottom: 40px;
         position: relative;
        
       }
       
       .link1 h3::after{
        content: "";
        width: 40px;
        height: 2px;
        background: #C69453;
        display: inline-block;
        position: absolute;
        top:50px;
        left:0;

      }
       
       
       
       .link1 p{
         color: rgb(224, 215, 215);
         font-size: 15px;
         font-weight: 300;
         line-height: 1.8em;
       }

    
       .link2 h3{
        font-size: 25px;
        color: #fff;
        font-weight: 300;
        margin-bottom: 40px;
        margin-left: 28px;
        position: relative;
      }
      .link2 h3::after{
        content: "";
        width: 40px;
        height: 2px;
        background: #C69453;
        display: inline-block;
        position: absolute;
        top:50px;
        left:0;

      }
      .link2 ul{
      list-style: none;

      } 
      .link2 ul li a{
       color: #fff;
       text-decoration: none;
       line-height: 2.8em;
       font-size: 14px;
       font-weight: 300;
      } 
      .link2 ul li a:hover{
       color: #C69453;
      }
      .link2 ul li a::before{
       content: " \f054";
       font-family: "Font Awesome 5 Free";
       font-weight: 600;
       font-size: 14px;
       margin-right: 10px;
      }



      
    
      .link3 h3{
        font-size: 25px;
        color: #fff;
        font-weight: 300;
        margin-bottom: 40px;
        margin-left: 28px;
        position: relative;
      }
      .link3 h3::after{
        content: "";
        width: 40px;
        height: 2px;
        background: #C69453;
        display: inline-block;
        position: absolute;
        top:50px;
        left:0;

      }
      .link3 ul{
      list-style: none;

      } 
      .link3 ul li a{
       color: #fff;
       text-decoration: none;
       line-height: 2.8em;
       font-size: 14px;
       font-weight: 300;
      } 
      
      .link3 ul li a:hover,
      .link3 ul li a.active{
       color: #c09434;

      }
      
      
      
      .link3 ul li a::before{
       content: " \f054";
       font-family: "Font Awesome 5 Free";
       font-weight: 600;
       font-size: 14px;
       margin-right: 10px;
      }




      .link4 h3{
        font-size: 25px;
        color: #fff;
        font-weight: 300;
        margin-bottom: 40px;
        position: relative;
       
      }
      .link4 h3::after{
        content: "";
        width: 40px;
        height: 2px;
        background: #C69453;
        display: inline-block;
        position: absolute;
        top:50px;
        left:0;

      }
      
      .link4 p{
        color: rgb(224, 215, 215);
        font-size: 15px;
        font-weight: 300;
        line-height: 2.2em;
      }

   /* footer */
    .last-f{
      background: rgba(0, 0, 0, 0.3);
      padding: 30px 0;
      line-height: 2.5em;
      margin-top: -120px;
    }
   .footer-left {}
   .footer-left p{
     color: #fff;
     font-size: 16px ;
     font-weight: 500;
   }

   .footer-right{
     text-align: right;
   }
   .footer-right ul li{
     display: inline-block;
   }
   .footer-right ul li a{
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
    
   }